<!-- <form (submit)="onDelete()">
    <input [(ngModel)]="bloodBankId" name="bloodBankId" placeholder="Enter Blood Bank ID" required>
    <button type="submit">Delete</button>
   </form> -->
   <mat-dialog-content>
   <div class="container d-flex justify-content-center align-items-center" style="height:10px; border: 3px  black; padding: 20px;">
    <form class="text-center" (submit)="onDelete()">
        <button type="submit" class="btn btn-warning my-2">Delete  {{data.srNo}}</button>
    </form>
</div>
</mat-dialog-content>
