<div class="d-flex flex-column align-items-center justify-content-center mx-auto" style="width: 100%; top:50%;border: 3px solid black; padding: 20px;">
    <button class="btn btn-warning my-2" routerLink="/bloodbank/add">Add a blood bank</button>
    <button class="btn btn-warning my-2" routerLink="/bloodbank/update">Update existing blood bank</button>
    <button class="btn btn-warning my-2" routerLink="/bloodbank/delete">Delete existing blood bank</button>
</div>
<router-outlet></router-outlet>
