<nav class=" dv  ">
    <div class="flex felx-row d-flex justify-content-between ">
        <div></div>
        <h1>Welcome to Blood Bank Portal !</h1>
        <button (click)="onhome()">Home</button>
    </div>
    
    <div class="login  justify-content-center align-items-center w-100 d-flex flex-wrap flex-row">
        <button (click)="openSignInDialog()" [disabled]="isButtonDisabled">
            <span *ngIf="!isLoggedIn; else loggedInText">Login/Signup</span>
            <ng-template #loggedInText>Logged In</ng-template>
        </button>
        <span *ngIf="userId">User ID: {{ userId }}</span>
        <div *ngIf="userId" class="dropdown">
            <button class="dropdown-toggle" (click)="toggleDropdown()">Options</button>
            <div class="dropdown-menu">
                <a (click)="viewUserDetails(userId)">User Details</a>
                <a href="" (click)="logout()">Logout</a>
            </div>
        </div>
        <div>
            <button routerLink="/payment">Donate</button>
        </div>
        <div class="button-group">
            <button routerLink="/user">Search for blood banks</button>
        </div>
    </div>
</nav>
<div class="bg"></div>