.dv {
    text-align: center;
    padding: 20px;
    background-color: #a00505;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}


h2 {
    color: #f9f8f8;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eed84bc3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

router-outlet {
    margin-top: 20
}

.login {
    position: relative;
    /* Positions the login div absolutely within the nav container */
    top: 10px;
    /* Adjusts the vertical position */
    right: 10px;
    /* Aligns the login div to the right */
}

.login button {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
    display: block;
}

h1{
    font-size: 50px;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/Blood\ Donation\ Logo\ \(1\).png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure it's behind other content */
}
