<div class="col-md-12 flex  container-fluid">
  <div class=" flex d-flex flex-row justify-content-between align-items  col-md-12">

    <button type="submit" (click)="openAddDialog()" *ngIf="userRole==='admin'">Addbloodbank</button>


    <form [formGroup]="searchForm" class="flex d-flex flex-row">
      <input type="text" formControlName="searchQuery" placeholder="Search by location ">
      <button type="button" (click)="searchBloodBanks()">Search</button>

    </form>

    <!-- <form [formGroup]="filterForm" class="align-items-center justify-content-start flex  flex-row d-flex"
      (click)="$event.stopPropagation()">

      <div>
        <label>Blood Type:</label>
        <select formControlName="selectedBloodGroup">
          <option value="any">Any</option>
          <option value="A_p">A+</option>
          <option value="A_m">A-</option>
          <option value="B_p">B+</option>
          <option value="B_m">B-</option>
          <option value="AB_p">AB+</option>
          <option value="AB_m">AB-</option>
          <option value="O_p">O+</option>
          <option value="O_m">O-</option>
          
        </select>
      </div>

      <div>
        <button type="button" (click)="filterBloodBanks()">Apply Filters</button>
        <button type="button" (click)="resetFilters()">Reset Filters</button>
      </div>



    </form> -->

  </div>

  <div class="cards-container">
    <div *ngFor="let bloodBank of filteredBloodBanks" class="blood-bank-card">
      <div>
        <h3>Blood Bank: {{ bloodBank.bloodbankname }}</h3>
        <p>Location: {{ bloodBank.city }}, {{ bloodBank.state }}, {{bloodBank.pincode}}</p>
        <p>Contact: {{ bloodBank.contact }}</p>
        <p>Email: {{ bloodBank.email }}</p>
        <button type="button" (click)="openDetailsDialog(bloodBank)">More Details</button>
        <button type="button" (click)="opendeletedialog(bloodBank)" *ngIf="userRole==='admin'">Delete</button>
        <button type="button" (click)="openUpdateDialog(bloodBank)" *ngIf="userRole==='admin'">Update</button>
      </div>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator [length]="bloodBanks.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>