<form [formGroup]="loginForm" (submit)="onSignIn()">
    <h1>Login</h1>
    <div class="justify-content-between align-items-center gap-10px w-100">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="black" type="submit">Sign In</button>
</form>


<p class="underline-hover" (click)="dialogRef.close(true)">New User? Sign Up here.</p>