<div class="container-fluid h-100">

  <form [formGroup]="bloodBankForm" (submit)="onSubmit()" class="main-container">
    <div class="form-detail-container">
      <!-- <label for="srNo">SR No:</label>
      <input type="text" formControlName="srNo"> -->

      <label for="bloodbankname">Blood Bank Name:</label>
      <input type="text" formControlName="bloodbankname">

      <label for="address">Address:</label>
      <textarea formControlName="address"></textarea>

      <div class="d-flex justify-content-evenly gap-10px flex-wrap">
        <div>

          <label for="state">State:</label>
          <input type="text" formControlName="state">

        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" formControlName="city">
        </div>
        <div>
          <label for="pincode">Pincode:</label>
          <input type="text" formControlName="pincode">
        </div>
      </div>

      <div class="d-flex justify-content-evenly gap-10px flex-wrap">
        <div>
          <label for="email">Email:</label>
          <input type="email" formControlName="email">
        </div>
        <div>
          <label for="contact">Contact:</label>
          <input type="text" formControlName="contact">
        </div>
      </div>
      <div class="d-flex justify-content-start gap-10px">
        <div>
          <label for="nodalofficer">Nodal Officer:</label>
          <input type="text" formControlName="nodalofficer">
        </div>

        <div>
          <label for="operationalhours">Operational Hours:</label>
          <input type="text" formControlName="operationalhours">
        </div>

      </div>
      <div class="d-flex justify-content-evenly gap-10px flex-wrap">
        <div>

          <label for="latitude">Latitude:</label>
          <input type="text" formControlName="latitude">


        </div>
        <div>
          <label for="longitude">Longitude:</label>
          <input type="text" formControlName="longitude">
        </div>
        <div>

          <label for="price">Price per pint:</label>
          <input type="text" formControlName="price">
        </div>
      </div>

    </div>
    <div class="blood-type-container">
      <h3>Blood Types</h3>
      <div formGroupName="bloodtypes" class="d-flex justify-content-between flex-wrap gap-10px">

        <div class="w-20">
          <label for="A_p">A+:</label>
          <input type="number" formControlName="a_p">
        </div>
        <div class="w-20">
          <label for="A_m">A-:</label>
          <input type="number" formControlName="a_m">
        </div>
        <div class="w-20">
          <label for="B_p">B+:</label>
          <input type="number" formControlName="b_p">
        </div>
        <div class="w-20">
          <label for="B_m">B-:</label>
          <input type="number" formControlName="b_m">
        </div>
        <div class="w-20">
          <label for="AB_p">AB+:</label>
          <input type="number" formControlName="aB_p">
        </div>
        <div class="w-20">
          <label for="AB_m">AB-:</label>
          <input type="number" formControlName="aB_m">
        </div>
        <div class="w-20">
          <label for="O_p">O+:</label>
          <input type="number" formControlName="o_p">
        </div>
        <div class="w-20">
          <label for="O_m">O-:</label>
          <input type="number" formControlName="o_m">
        </div>
      </div>


      <div class="d-flex justify-content-between">
        <button class="btn btn-danger" type="button" (click)="cancelUpdate()">
          Cancel
        </button>
        <button type="submit" (click)="bloodBankForm">Update Blood Bank</button>
      </div>

    </div>
  </form>

</div>