/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
// background: url('../src/assets/Blood\ Donation\ Logo\ \(1\).png')
// center/ cover no-repeat fixed
}

@import "~/node_modules/bootstrap/dist/css/bootstrap.css";

:host ::ng-deep .mat-mdc-dialog-content {
    max-height: none ;
}